---
import type { EnhancedResource } from "../types";
import Icon from "../components/Icon.astro";

export interface CardProps extends EnhancedResource {}

const { fields, tags } = Astro.props as CardProps;
---

<div class="box card-selector" data-tags={tags}>
  <div class="columns">
    <div class="column is-three-quarters">
      <article class="media">
        <div class="media-left">
          <figure class="image is-16x16">
            <Icon iconName="heart" prefix="far" />
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{fields.name}</strong>
              {
                fields.language ? (
                  <span class="tag language-tag is-light ml-2">
                    {fields.language}
                  </span>
                ) : null
              }
              <br />
              {fields.description}
              <br />
              {
                fields.book ? (
                  <small>
                    <a href={fields.website} target="_blank">
                      Buch auf Thalia anschauen
                    </a>
                  </small>
                ) : (
                  <small>
                    <a href={fields.website} target="_blank">
                      {fields.website}
                    </a>
                  </small>
                )
              }
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              {
                fields.youtube ? (
                  <a
                    href="fields.youtube"
                    target="_blank"
                    class="level-item"
                    aria-label="youtube"
                  >
                    <span class="icon is-small has-text-primary">
                      <Icon iconName="youtube" prefix="fab" />
                    </span>
                  </a>
                ) : null
              }
              {
                fields.twitch ? (
                  <a
                    href="fields.twitch"
                    target="_blank"
                    class="level-item"
                    aria-label="twitch"
                  >
                    <span class="icon is-small has-text-primary">
                      <Icon iconName="twitch" prefix="fab" />
                    </span>
                  </a>
                ) : null
              }
              {
                fields.telegram ? (
                  <a
                    href={fields.telegram}
                    target="_blank"
                    class="level-item"
                    aria-label="telegram"
                  >
                    <span class="icon is-small has-text-primary">
                      <Icon iconName="telegram" prefix="fab" />
                    </span>
                  </a>
                ) : null
              }
              {
                fields.instagram ? (
                  <a
                    href={fields.instagram}
                    target="_blank"
                    class="level-item"
                    aria-label="instagram"
                  >
                    <span class="icon is-small has-text-primary">
                      <Icon iconName="instagram" prefix="fab" />
                    </span>
                  </a>
                ) : null
              }
              {
                fields.twitter ? (
                  <a
                    href={fields.twitter}
                    target="_blank"
                    class="level-item"
                    aria-label="twitter"
                  >
                    <span class="icon is-small has-text-primary">
                      <Icon iconName="twitter" prefix="fab" />
                    </span>
                  </a>
                ) : null
              }
              {
                fields.facebook ? (
                  <a
                    href={fields.facebook}
                    target="_blank"
                    class="level-item"
                    aria-label="facebook"
                  >
                    <span class="icon is-small has-text-primary">
                      <Icon iconName="facebook" prefix="fab" />
                    </span>
                  </a>
                ) : null
              }
              {
                fields.email ? (
                  <a
                    href={`mailto:${fields.email}`}
                    target="_blank"
                    class="level-item"
                    aria-label="email"
                  >
                    <span class="icon is-small has-text-primary">
                      <Icon iconName="envelope" prefix="fas" />
                    </span>
                  </a>
                ) : null
              }
              {
                fields.newsletter ? (
                  <a
                    href={fields.newsletter}
                    target="_blank"
                    class="level-item"
                    aria-label="newsletter"
                  >
                    <span class="icon is-small has-text-primary">
                      <Icon iconName="inbox" prefix="fas" />
                    </span>
                  </a>
                ) : null
              }
              {
                fields.podcast ? (
                  <a
                    href={fields.podcast}
                    target="_blank"
                    class="level-item"
                    aria-label="podcast"
                  >
                    <span class="icon is-small has-text-primary">
                      <Icon iconName="podcast" prefix="fas" />
                    </span>
                  </a>
                ) : null
              }
              {
                fields.meetup ? (
                  <a
                    href={fields.meetup}
                    target="_blank"
                    class="level-item"
                    aria-label="meetup"
                  >
                    <span class="icon is-small has-text-primary">
                      <Icon iconName="meetup" prefix="fab" />
                    </span>
                  </a>
                ) : null
              }
            </div>
          </nav>
        </div>
      </article>
    </div>
    <div class="column">
      <span class="column-separator is-pulled-left is-hidden-mobile"></span>
      {
        fields.tags.map((tag) => {
          return <span class="tag is-info is-light ml-2 mb-2">{tag}</span>;
        })
      }
    </div>
  </div>
</div>

<style lang="scss">
  li {
    list-style-type: none;
  }
  .media-content {
    text-align: left;
  }
  .column-separator {
    border-left: 1px solid rgb(10 10 10 / 5%);
    height: 100%;
  }
  .language-tag {
    height: 1.5em;
  }
</style>
