---
import { filterData } from "../data/filterData";
import Icon from "../components/Icon.astro";
import Tag from "../components/Tag.astro";
---

<div class="sidebar has-background-primary has-text-left">
  <div class="content p-5">
    <h2
      v-if="selectedFilter.length > 0"
      class="subtitle is-size-6 is-uppercase mb-3 has-text-white"
    >
      Deine Auswahl
    </h2>
    <div id="my-selection-selector" class="tags are-medium"></div>
    <h2 class="subtitle is-size-6 is-uppercase mb-3 has-text-white">
      Interessen
    </h2>
    <div class="tags are-medium">
      {
        filterData.interests.map((item) => {
          return (
            <Tag key={item.key} size="1em">
              {item.title}
            </Tag>
          );
        })
      }
    </div>

    <h2 class="subtitle is-size-6 is-uppercase mb-3 has-text-white">Format</h2>
    <div class="tags are-medium">
      {
        filterData.format.map((item) => {
          return (
            <Tag key={item.key}>
              <span class="icon mr-1">
                <Icon
                  iconName={item.icon.iconName}
                  prefix={item.icon.prefix}
                  size="1em"
                />
              </span>
              {item.title}
            </Tag>
          );
        })
      }
    </div>

    <h2 class="subtitle is-size-6 is-uppercase mb-3 has-text-white">
      Social Media
    </h2>
    <div class="tags are-medium">
      {
        filterData.social.map((item) => {
          return (
            <Tag key={item.key}>
              <span class="icon mr-1">
                <Icon
                  iconName={item.icon.iconName}
                  prefix={item.icon.prefix}
                  size="1em"
                />
              </span>
              {item.title}
            </Tag>
          );
        })
      }
    </div>

    <h2 class="subtitle is-size-6 is-uppercase mb-3 has-text-white">Sprache</h2>
    <div class="tags are-medium">
      {
        filterData.language.map((item) => {
          return <Tag key={item.key}>{item.title}</Tag>;
        })
      }
    </div>

    <h2 class="subtitle is-size-6 is-uppercase mb-3 has-text-white">
      Zielgruppe
    </h2>
    <div class="tags are-medium">
      {
        filterData.audience.map((item) => {
          return <Tag key={item.key}>{item.title}</Tag>;
        })
      }
    </div>
  </div>
</div>

<style lang="scss">
  .sidebar {
    width: 100%;
    border-radius: 12px;
  }
</style>
