---
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import "../styles/styles.scss";

export interface LayoutProps {
  title: string;
  description: string;
}

const { title, description } = Astro.props as LayoutProps;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="keywords" content="Coding-Initiativen finden, Initiativen auf Social Media folgen, YouTube Channels abonnieren, programmieren lernen, Technik verstehen, an Meetups teilnehmen, netzwerken, Hackerinnen kennenlernen, Hackerspaces besuchen, Newsletter abonnieren, vernetzen, Frauen und Technik, MINT, Frauen in IT, Mentorinnen finden, lokale Communities finden, Nachwuchsförderungen, Frauen in der Informatik, fachlicher Austausch, Coding-Bootcamp, Workshops, Mentoring und Nachwuchsförderung für Frauen, Podcasts, Sichtbarkeit von Frauen in IT, Machine Learning, Robotics, KI"/>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@hackerinnen" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="/share-image.jpg" />
    <meta property="og:image" content="/share-image.jpg" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <title>{title}</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="https://hackerinnen.space/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://hackerinnen.space/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://hackerinnen.space/favicon/favicon-16x16.png"
    />
  </head>
  <body>
    <main>
      <NavBar />
      <slot />
      <Footer />
    </main>
  </body>
</html>
